    .savingsBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background-color: #9333EA;
    color: #f1f1f1;
    margin-top: 80px;
    padding: 150px 0 0 0;
    h1 {
        color: #fff;
        font-size: 3.3rem;
        width: fit-content;
        margin-bottom: 0px;
    }
    p {
        font-size: 1.3rem;
        max-width: 600px;
        width: 100%;
    }
}

.savingsBox .text-container {
    /* flex: 1; */
    flex-basis: 50%;
    /* background-color: #f1fff9; */
    padding: 2rem 2rem 0;
    border-radius: 3em;
    /* background-color: #F1FFF9; */
}

.pic {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: auto;
    height: auto;
    width: 35%;
}

.savingsBox .image-container {
    /* flex: 1; */
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* padding: 2rem; */
    background: transparent;
}

.process-section {
    margin-top: 100px;
    margin-bottom: 100px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
        text-align: center;
        h1 {
            font-size: 2.5rem;
            font-weight: 900;
        }
        p {
            font-size: 1.2rem;
        }
    }
    .img-card-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-top: 100px;
        width: 100%;
        gap: 2rem;
        .img-card {
            background-color: #f3f1f1a1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 40px;
            padding: 30px;
            .image-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                }
            }
            .text {
                color: #000;
                h3 {
                    font-size: 1.4rem;
                }
                p {
                    color: #535353;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .savingsBox {
        flex-direction: column;
    }
    ;
    .title {
        h1
    }
    ;