.capital {
  width: 300px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 5em;
  display: flex;
}

.ota-cameroon {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.accessible {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.container {
  justify-content: center;
  align-items: center;

}
