@font-face {
    font-family: 'Dm Sans';
    src: url('../assets/fonts/DMSans-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Dm Sans', sans-serif;
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    color: rgb(75, 85, 99);
    background-color: rgb(255, 255, 255);
    line-height: 1.5;
    font-weight: 400;
}

section {
    min-height: 70dvh;
    padding: 50px 3rem;
    width: 100%;
}

a {
    text-decoration: none;
    color: #1d1c1c;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    font-weight: 700;
    margin: 10px 0;
    color: #0c1825;
    font-size: 2rem;
}