.investment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  background-color: #6b21a8;
  color: white;
  font-size: 1.2rem;
  margin-top: 5rem;
}

.seventy-six-k {
  width: 45%;
  /* padding: 5em 3em; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  /* float: right; */
  /* margin-left: 20px; */
}
.seventy-six-k img {
  width: 100%;
}

.investment .download {
  width: 40%;
  border-radius: 10px;
  display: flex;
  gap: 1em;
  margin-top: 2em;
}
.investment .download img {
  width: 100%;
}

.playstore {
  border-radius: 10px;
}

/* .text {
  color: white;
  justify-content: center;
  padding-top: 4%;
} */

.invest {
  width: 45%;
  /* padding: 2em; */
  gap: 50px;
}

.invest h2 {
  color: white;
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  .investment {
    flex-direction: column;
  }
  .investment .download {
    width: 100%;
    /* padding: 1em; */
  }
  .invest,
  .seventy-six-k {
    width: 100%;
  }
}
