.investment {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3em;
    background-color: #6b21a8;
    color: white;
    font-size: 1.2rem;
    margin-top: 3.5rem;
    flex-wrap: wrap;
}

.seventy-six-k {}

.download {
    width: 40%;
    border-radius: 10px;
    display: flex;
    gap: 1em;
    margin-top: 2em;
    /* padding-top: 6%; */
}

.playstore {
    border-radius: 10px;
}

.investment .text {
    color: white;
    justify-content: center;
    padding-top: 4%;
}

.invest {
    /* padding: 5em; */
    gap: 50px;
}

.invest h2 {
    color: white;
    padding-bottom: 20px;
}