/******************************************************
//      Styling the CSS for the Landing page         //
*******************************************************/

/* Hero section container */
.hero-container {
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

/* Div that holds the heading, paragraph and app download */
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* Targeting and styling main heading for the landing page */
.hero-text h1 {
  font-size: 60px;
  font-weight: 700;
}

/* Adjusting paragraph font for the hero section */
.hero-text p {
  font-size: 18px;
  font-weight: 400;
}

/* Adding the download buttons in a flex container */
.download-app {
  display: flex;
  gap: 2rem;
}

/* Adjusting the size of the download buttons  */
.download-app a img {
  width: 200px;
  height: auto;
  border-radius: 8px;
}

/* Hero image stylings start here */
.hero-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-image-main {
  width: 35%;
  height: auto;
}

.hero-image-banner {
  width: 100%;
  height: auto;
  margin-top: -5rem;
}



/******************************************************
//      Media queries for responsiveness              //
*******************************************************/


