.contact_form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3em;
    
}
.contact_form *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    
}
.contact_form h2{
    font-size: 1.5rem;
}
.contact_form form{
    display: flex;
  
  flex-direction: column;
  gap: 1em;
}

.contact_form form>div{
    display: flex;
  flex-direction: column;

  gap: .5em;
}

.contact_form form>div label{
    font-size: 1rem;
    font-weight: 500;
}

.contact_form form>div input{
min-height: 1rem;  
padding: 1em;
border-radius: 10px;  
border: 1px solid gray;
}

.contact_form form>div textarea{
min-height: 8rem;  
padding: 1em;
border-radius: 10px;  
border: 1px solid gray;
}



.submit{
    background-color:#956CFF;
    width: 35rem;
    height: 40px;
    padding: 0.5rem;
    border-radius: 5px;
}

