.saas {
    display: flex;
    justify-content: space-between;
    /* gap: 1em; */
    margin-bottom: 6%;
}

.saas > div {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100vh;
    flex-basis: 40%;
    
}

.saas > div h2 {
    font-size: 24px;
}

.saas > div p {
    font-size: 18px;
}

.saas .image-container {
    width: 300px;
    flex-basis: 40%;
}
