.product {
    display: flex;
    justify-content: space-between;
    /* gap: 1em; */
}

.product > div {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100vh;
    flex-basis: 40%;
    
}

.product > div h2 {
    font-size: 24px;
}

.product > div p {
    font-size: 18px;
}

.product .image-container {
    width: 300px;
    flex-basis: 40%;
}

